/* ----------------------------------------- Global ----------------------------------------- */

body {
  background-color: var(--text-color) !important;
}

* {
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
}
html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--text-color);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5rem;
}

:root {
  --main-color: #ff2c1f;
  --text-color: #020307;
  --bg-color: #fff;
}
section {
  padding: 4.5rem 1.5rem;
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--text-color);
  color: var(--bg-color);
}

/* ----------------------------------------- Navbar ----------------------------------------- */

nav {
  transition: 0.5s;
}

nav i {
  color: var(--main-color) !important;
}

nav.shadow {
  background-color: var(--bg-color);
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}

nav.shadow ul a {
  color: var(--text-color);
}
nav.shadow .logo {
  color: var(--text-color);
}

.navbar a {
  font-weight: 500;
  font-size: 1rem;
}

nav .logo {
  color: var(--bg-color);
}

.navbar a::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 0;
  height: 3px;
  left: 0;
  bottom: -4px;
  transition: 0.4s all linear;
}

.nav-link:focus,
.nav-link:hover,
.navbar-brand:focus,
.navbar-brand:hover {
  color: var(--main-color) !important;
}

.navbar a.nav-link:hover::after,
.navbar .home-active::after {
  width: 100%;
}

nav .btn {
  background-color: var(--main-color);
}

.btn:hover {
  background: #fa1216 !important;
}

/* ----------------------------------------- Home ----------------------------------------- */

.home {
  min-height: 100vh;
  background-image: url(../img/home3.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.home .home-text {
  position: absolute;
  top: 40%;
  padding-left: 80px;
}

.home-text h2 {
  font-size: 4rem;
}

.home-text .btn {
  background-color: var(--main-color);
}

/* ----------------------------------------- Movies & Coming Soon ----------------------------------------- */

.heading {
  border-bottom: 1px solid var(--main-color);
  max-width: 1250px;
}

.boxes {
  max-width: 1250px;
}

.box img {
  -fit: cover;
  cursor: pointer;
  transition: 0.2s all linear;
}
.box img:hover {
  transform: translateY(-15px);
}
.box h3 {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--main-color);
}
.box span {
  font-size: 13px;
}

/* ----------------------------------------- News ----------------------------------------- */

.news {
  max-width: 1000px;
}

.news form input[type="email"] {
  outline: 0;
  width: 300px;
}

.news input::placeholder {
  color: var(--text-color);
  font-size: 0.8rem;
}

.news .btn {
  outline: 0;
  cursor: pointer;
  background-color: var(--main-color);
}

/* ----------------------------------------- Footer ----------------------------------------- */

.footer {
  max-width: 1000px;
}

.footer .logo i {
  color: var(--main-color) !important;
}

.social-icons a {
  width: 55px;
  height: 55px;
  line-height: 55px;
  color: var(--main-color);
  border: 4px solid rgb(2, 3, 7, 0.4);
  transition: 0.2s all linear;
}
.social-icons a:hover {
  background-color: var(--main-color) !important;
  color: var(--bg-color) !important;
}

/* ----------------------------------------- Copyrights ----------------------------------------- */

.copy {
  font-size: 1.1rem;
}

.copy span {
  color: var(--main-color);
  cursor: pointer;
}

/* Resbonsive */
@media (max-width: 1080px) {
  .home-text {
    padding: 0 100px;
  }
}
@media (max-width: 991px) {
  nav {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
  .home-text {
    padding: 0 4%;
  }
  .home-text h2 {
    font-size: 3rem;
  }
}

@media (max-width: 472px) {
  .footer {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
  .news form .email {
    display: none;
  }
}
@media (max-width: 370px) {
  nav {
    padding: 6px 4%;
  }
  .home-text h2 {
    font-size: 1.7rem;
  }
  .movies-container,
  .coming-container {
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));
  }
  .box .box-img img {
    height: 240px;
  }
}
@media (max-width: 300px) {
  .home-text h2 {
    font-size: 1.2rem;
  }
}
